body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: ivory;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: darkblue;
  height: 50px;
}

#navbar li {
  display: inline;
}

#navbar a {
  margin-left: 75px;
  text-decoration: none;
}

.project {
  display: inline-block;
  overflow: hidden;
  background-color: white;
  width: 300px;
  margin: 15px;
}

.proj-img {
  width: 300px;
  height: 300px;
}